@model IEnumerable<Asian_Shoe.Models.Registration>

@{
    ViewData["Title"] = "Index";
}

<h1>User Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Role
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Password)
            </th> *@
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                   @*  @Html.DisplayFor(modelItem => item.role_id) *@
                    @if(item.role_id==1){
                        <input type="text" value="Admin"    readonly />
                    }
                    else
                    {
                        <input type="text" value="User" readonly />
                    }
                </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td> *@
            
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.User_id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.User_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.User_id })
            </td>
        </tr>
}
    </tbody>
</table>
