@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="@Url.Action("DisplayProduct", "DisplayProducts")">
            <img src="~/Product_Images/image (1).jpeg" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a href="@Url.Action("Details", "DisplayProducts", new { id = 8 })">
            <img src="~/Product_Images/image.jpeg" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a href="@Url.Action("Details", "DisplayProducts", new { id = 7 })">
            <img src="~/Product_Images/image (2).jpeg" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a href="@Url.Action("Details", "DisplayProducts", new { id = 9 })">
            <img src="~/Product_Images/image.png" class="d-block w-100" alt="...">
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container my-5">
    <div class="row text-center">
        <h3><b>SHOP FOR </b></h3>
        <!-- Men Section -->
        <div class="col-md-4 mb-4">
            <a href="@Url.Action("DisplayProductByCat", "DisplayProducts",new{id=1})">
                <img src="~/Product_Images/men.png" class="img-fluid rounded" alt="Men" style="width: 100%; height: auto; max-height: 350px; object-fit: cover;">
            </a>
            
        </div>

        <!-- Women Section -->
        <div class="col-md-4 mb-4">
            <a href="@Url.Action("DisplayProductByCat", "DisplayProducts",new{id=2})">
                <img src="~/Product_Images/women.png" class="img-fluid rounded" alt="Women" style="width: 100%; height: auto; max-height: 350px; object-fit: cover;">
            </a>
        </div>

        <!-- Children Section -->
        <div class="col-md-4 mb-4">
            <a href="@Url.Action("DisplayProductByCat", "DisplayProducts",new{id=3})">
                <img src="~/Product_Images/children.png" class="img-fluid rounded" alt="Children" style="width: 100%; height: auto; max-height: 350px; object-fit: cover;">
            </a>
        </div>
    </div>
</div>

<div>
    <img src="~/CommonImage/image (2).jpeg" class="img-fluid" width="1330px" alt="Image description"> <br />

</div>



